.wrapper{
  margin: 0 100px;
}

.section{
  margin: 100px;
  min-height: 70vh;
}

.section-header{
  font-size: 40px;
  color: rgb(211, 211, 211);
  margin: 100px 0;
}

.section-about-text{
  font-size: 1.1rem;
  width: 90%;
}

.dark-section{
  background-color: rgb(240, 240, 240);
  width: 100%;
  min-height: 100vh;
  padding: 120px 0;
  margin-right: auto;
  margin-left: auto;
}

.dark-section-header{
  font-size: 40px;
  color: rgb(92, 92, 92);
  padding: 100px 0;
}

.container-img{
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.flex{
  display: flex;
  justify-content: space-evenly;
}

.selfie{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.testimonial-about-text{
  width: 50%;
}

.faq{
  background-color: #DCDCDC;
  padding: 50px;
}

.blockquote-secondary{
  padding:20%;
}


.col-block{
  padding-top: 15%;
}

.img-text p{
  font-weight: 500;
}

.test i{
  text-align:center;
}


td{
  text-align:center;

}

.icon{
    text-align: center;
}


@media (max-width: 480px) {

  .row{ text-align: center; }
}