.red{
  color:white;
  background-color: red;
  font-size: 60px;
}

.brand img{
  width:35%;
}

#text1{
  padding-top: 100px;
}

p{
  font-weight: 400;
}

.how-section img {
  height:10px;
  width:15px;
  padding-left: 100px;
}

.faq{
  background-color: #DCDCDC;
  padding: 50px;
}

.faq img{
  height:100px;
  padding-left: 10%;
}

.padded{
  padding: 5% 0% 3% 0%;
}

.testimony{
  padding-bottom: 7%;
}

.testimony h2{
  margin-left: 2rem;
}
.testimony img{
  height:auto;
  width:60%;
}

.selfie{
  padding-left: 8%;
}

.selfie img{
  height: 10%;
}

.blockquote-secondary{
  padding:20%;
}


.col-block{
  padding-top: 15%;
}

.img-text p{
  font-weight: 500;
}

.test i{
  text-align:center;
}


td{
  text-align:center;

}

.icon{
    text-align: center;
}


/* about us section */
.section-about-us{
  margin: 5rem;
}

.about-text{
  margin: 0rem 2rem 2rem 2rem;
}

.how-row{
  display: flex;
}

.how-text{
  text-align: center;
  margin: 1.5rem;
}

@media (max-width: 480px) {
  .section-about-us{
    margin: 5rem 2rem 2rem 2rem;
  }

  .how-row{
    display: flex;
    flex-direction: column;
    text-align:center;
  }

  .how-text{
    text-align: center;
    margin: 0rem;
  }

  .row{
    text-align: center;
  }
  
  .testimony{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;
  }

  .about-text{
    text-align: left;
    margin: 2rem 1rem 2rem 1rem;

  }
}